*,
a,
footer,
.bottom-carrousel {
  box-sizing: border-box;
  font-family: "easyJet Rounded Book", sans-serif;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

/* HEADER STYLE  */

header img {
  display: inline;
}

header nav {
  display: inline;
}

header {
  background-image: url("../imgs/headbar.gif");
  background-size: cover;
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sign-up-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
}

header button {
  background: white;
  padding: 7px 10px;
  color: #f60;
  border: none;
  font-size: 16px;
  border-radius: 3px;
}

/* MAIN STYLE  */

/* BEACH  */

.beach-section {
  margin-bottom: 20px;
  position: relative;
}

.beach-section img {
  width: 100vw;
  height: 650px;
  object-fit: cover;
}

.beach-absolute {
  position: absolute;
  top: 20px;
  height: 430px;
  width: 100vw;
}

.booking-menu-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.left-column-title {
  font-size: 50px;
  font-family: "easyJet Headline", sans-serif;
}

.left-column > div p:nth-child() .left-column > div p:nth-child(2) {
  font-size: 50px;
}

.left-column button {
  background: #f60;
  padding: 10px 25px;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  align-self: flex-start;
}
/* CARROUSEL-SECTION */

.carrousel-section {
  height: 380px;
  margin-bottom: 20px;
  display: flex;
  overflow: scroll;
  gap: 20px;
  padding: 0 5px;
}

.carrousel-card {
  position: relative;
  height: 370px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 0 5px grey;
}

.carrousel-card img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.carrousel-card > div {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.carrousel-card button {
  position: absolute;
  bottom: 15px;
  background-color: #f60;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
}

/* BEACH ABSOLUTE WHITE */

.beach-white-absolute {
  position: absolute;
  height: 130px;
  bottom: 0px;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.7);
}
.wrapper-whitebar {
  height: 100%;
}

.offers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.offers button {
  background-color: #f60;
  color: white;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  padding: 10px 30px;
}

.offers > * {
  width: 20%;
}
/* WORLDWIDE-DEFAULT  */

.worldwide-default {
  margin-bottom: 20px;
  box-shadow: 0 0 5px #bbbbbb;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.worldwide-default img {
  width: 640px;
}
.worldwide-default > div {
  padding: 10px;
}

.worldwide-default p {
  font-size: 13px;
  margin-bottom: 10px;
}

.worldwide-default button {
  color: white;
  padding: 8px 30px;
  background: #f60;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  align-self: flex-end;
}

.worldwide-default > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}
/* WORLDWIDE SECTION  */

.worldwide img {
  height: 250px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

/* BRETAGNE SECTION  */

.worldwide2 img {
  height: 300px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
}
footer > div {
  padding: 10px 0;
}

/* BOOKING-MENU */

.booking-menu {
  border: 1px solid black;
  height: 450px;
  width: 300px;
  font-size: 13px;
  padding: 12px;
  background-color: white;
}

.checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input {
  width: 30px;
  height: 30px;
}

.booking-menu > button {
  width: 100%;
  padding: 10px;
  background-color: #f60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

/* DESTINATION */

.destination {
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 10px;
}

.destination input {
  border: none;
  height: 30px;
}
.destination-line {
  width: 180px;
  border-bottom: 1px solid lightgray;
  margin: 10px auto;
}

/* DATE PICKER */

.date-picker {
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 10px;
  color: #f60;
}

.date-picker > div:nth-child(2) {
  width: 180px;
  border-bottom: 1px solid lightgray;
  margin: 10px auto;
}

.date-picker > div:nth-child(odd) {
  padding: 7px;
  display: flex;
  gap: 5px;
  align-items: center;
}

/* QUANTITY  */

.quantity button {
  background: unset;
  border: none;
  font-size: 20px;
}
.quantity > div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity > div span {
  font-size: 20px;
  display: block;
  text-align: center;
}

.counter-div {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* TRIPLE IMAGES */

.triple-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.triple-img > div {
  position: relative;
}
.triple-img-absolute {
  position: absolute;
  top: 0px;
  height: 220px;
  width: 285px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
}

.triple-img-absolute h4 {
  font-size: 30px;
  color: white;
}
.triple-img-absolute p {
  font-size: 20px;
  color: white;
}
.triple-img img {
  border-radius: 10px;
  display: block;
  height: 220px;
  width: 285px;
  object-fit: cover;
  box-shadow: 0 0 5px #bbbbbb;
}

/* BOTTOM-CARROUSEL */
.bottom-carrousel {
  margin-bottom: 20px;
}
.bottom-carrousel h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.bottom-carrousel > menu {
  display: flex;
  overflow: scroll;
  gap: 10px;
}
.bottom-carrousel div {
  height: 145px;
  width: 145px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.bottom-carrousel div:hover {
  background: #f70;
  cursor: pointer;
}

.icon {
  font-size: 60px;
  align-self: center;
}
/* BOTTOM */

.footer-div {
  display: flex;
  justify-content: space-between;
}
.footer-div p {
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-div li {
  font-size: 12px;
  line-height: 18px;
}
.footer-div > div {
  display: flex;
  flex-direction: column;
}
.bottom {
  color: #f60;
}

.bottom p:first-child {
  margin-bottom: 5px;
}

/* hide by default  */

.phone-display {
  display: none;
}
.white-icon {
  color: white;
}
/* MEDIA QUERIES */

@media (max-width: 1115px) {
  /* header */
  .hidden-1115 {
    display: none;
  }
}

@media (max-width: 960px) {
  /* header */
}

@media (max-width: 670px) {
  .phone-display {
    display: inline;
  }
  .hidden-670 {
    display: none;
  }
}
