body {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding-bottom: 100px;
}
menu {
  background-color: lightblue;
  padding: 20px;
}
h2 {
  font-size: 30px;
  line-height: 100px;
}
.pill {
  background-color: pink;
  border: solid 1px black;
  padding: 20px;
}

/* EXERCICE 1 */

.exercice1 ul {
  display: flex;
  justify-content: space-around;
}

.exercice1 div {
  display: flex;
}
/* EXERCICE 2 */

.exercice2 ul {
  display: flex;
  justify-content: space-between;
}

.exercice2 ul > li {
  flex: 2;
}
.exercice2 ul div {
  justify-content: space-between;
  display: flex;
}

/* EXERCICE 3 */

.exercice3 ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.exercice3 ul > li,
.exercice3 div {
  flex: 1;
}

.exercice3 div {
  display: flex;
  justify-content: space-evenly;
}

.exercice3 ul > li {
  border-radius: 40px;
}
